@import "~bootstrap/scss/bootstrap.scss";
body {
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.Soporte{
    background: black;
    width: 10px;
    height: 80px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 45%;
    padding: 0%;
} 
.GranSemaforo{
    background: black;
    height: 330px;
    width: 110px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 40%;
    border-radius: 5px;
}
.Luz{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 5px;
    padding: 5px;
}
.Espaciado{
    height: 1px;
}
.Rojo{
    background: red;
}
.Amarillo{
    background: yellow;
}
.Verde{
    background: green;
}
.brillo{
        box-shadow: 0px 0px 9px 4px #747DE8;
}