@import "~bootstrap/scss/bootstrap.scss";

.GranSemaforo{
    background: black;
    height: 330px;
    width: 110px;
   align-items: center;
}
.LuzRoja {
    width: 100px;
    height: 100px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 5px;
    padding: 5px;
}
.LuzAmarilla {
    width: 100px;
    height: 100px;
    background: yellow;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 5px;
    padding: 5px;
}
.LuzVerde {
    width: 100px;
    height: 100px;
    background: green;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 5px;
    padding: 5px;
}